
body{
    font-family: 'Oswald', sans-serif;
}
#main{
    
}
#shop-img {
    width: 100.5px !important; 
}
.block-social ul li {
    background-color: #232323;
}
.reddit{
    background-image: url("/themes/classic/assets/css/Reddit-Logomark-Color-Logo.wine.svg");
}
.block-social ul li:hover {
    background-color: #E36D00;
}
#header{
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
    /*max-width: 1880px;*/
}
#header a.dropdown-item.dropdown-submenu {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #E36D00;
  }
.carousel .carousel-item figure {
    display: contents;
}
.carousel-control{
    width: 8%;
}
.modal-body> h6{
    color: #E36D00;
}
#wrapper{
    background-color: white !important;
}
.row.product-container.js-product-container{
    /*width: 80%;*/
    margin-left: auto;
    margin-right: auto;
}
.header-top{
    background-color: black !important;
}
#top-menu{
    /*display: flex;*/
}
.category{
    position: relative;
    font-size: 1.1rem;
}
.collapse>.top-menu{
    display: block;
}
.popover.sub-menu.js-sub-menu.collapse > .top-menu{
    display: flex;
}
.top-menu .sub-menu {
    width: unset;
    min-width: unset;
    /*box-shadow: 2px 1px 11px 2px white;*/
    border: 1px solid white;
}
#mobile_top_menu_wrapper{
    background-color: black !important;
}
#carousel{
    /*width: 100%;
    margin-left: auto;*/
   /* margin-left: -15px;*/
    margin-right: auto;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
    width: 100% ;
    /*max-width: 1880px;*/
}
#wrapper{
    padding-top: 0px;
}
#wrapper .banner{
    margin-bottom: 0px;
}
#_desktop_cart{
    margin-right: -15px !important;
}
.contents{
    display: contents;
}
.carousel .carousel-inner {
    height: 100%;
}
.ui-autocomplete-input{
    background-color: white !important;
    height: 32px;
}
.material-icons.search{
    padding: .3rem;
}
.banner1.banner-width img{
        width: 100%;
}
.banner-width{
    width: 100%;
    /*margin-left: auto;*/
    /*margin-left: -15px;*/
    margin-right: auto;
}
.banner2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlighted-informations.hidden-sm-down.home-down, .highlighted-informations.no-variants.hidden-sm-down,.highlighted-informations.hidden-sm-down{
    width: 100% !important;
}
/*
.banner2 a{
    position: absolute;
}*/
.carousel .carousel-item .caption .display-1{
    color: #E77C1A !important;
    font-size: 5vw;
    font-weight: 600;
}
.arrow{
    background-color: #E77C1A;
}
.arrow:hover{
    background-color: #E77C1A;
    
}
#caption-home-slider{
    /*bottom: 181px;*/
    bottom: 35%;
    left: 169px;
    max-width: 575px;
}
.carousel .carousel-control .icon-next i, .carousel .carousel-control .icon-prev i{
    font-size: 4.125rem;
}
.carousel-control .icon-next{
    margin-right: 5px;
}
.text-banner{
    color: white;
    font-size: 4.4vw;
    font-weight: bold;
}
.text-button{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#_desktop_user_info{
    background-color: #000000;
}
#_desktop_user_info a{
    color: white;
}
.user-info a i{
    color: white;
}
.user-info{
    margin-left: 1.5rem !important;
    margin-right: 1.5rem;
}
.product-flags li.product-flag{
    background: #000000;
}
.product-flags li.product-flag.discount{
    background: #E36D00;
    font-size: .9rem !important;
}
#header .header-nav .cart-preview.active, #header .header-nav .cart-preview.active i{
    background: #E77C1A;
    color: white;
}
#header .header-nav .cart-preview.inactive, #header .header-nav .cart-preview.inactive i{
    background: #E77C1A;
    color: white;
}
.cart-products-count{
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    /*display: block !important;*/
    /*margin-left: 14px;*/
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.cart-products-count-modal{
    padding-left: 8px;
    padding-right: 8px;
    display: block !important;
    background-color: #ddd;
    border-radius: 0em;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
#blockcart-modal .cart-content p.cart-products-count{
    color: black;
}
.separator{
    margin-left: 5px;
    margin-right: 5px;
}
.header-nav{
    margin-bottom: 10px;
    border-bottom: #f6f6f6 0px solid !important;
}
.box{
    padding-right: 5px;
    padding-left: 5px;
}

#all-shoppings{
    margin-bottom: 3.5rem;
    font-size: 1.45rem;
    color: #161616;
    font-weight: 600;
}
.carousel .carousel-control .icon-next:hover i, .carousel .carousel-control .icon-prev:hover i {
    color: white;
}
#caption-home-slider a{
    color: white;
}
.btn.btn-default{
    color: white;
    border: 1px solid white;
}

@media (max-width: 991px){
    .carousel .carousel-item .caption .caption-description h1, h2, h3, h4, h5, h6 {
        color: #000000;
    }
    .carousel .carousel-item .caption .caption-description p{
        color: #000000;
    }
    .carousel {
        background-color: white;
    }
    .btn.btn-default {
        color: black !important;
        border: 1px solid black;
     }
    .footer-container .links ul{
        background-color: #222;
    }
    .featured-products .products {
        width: 100% !important
        ;
    }
    .carousel .carousel-inner {
        height: auto;
    }
    .carousel .direction .carousel-control i {
        background-color: #E77C1A;
        font-size: 3.125rem;
    }
    #product-tittle {
        font-size: 2.375rem !important;
        text-align: left;
    }
    #header .header-top .position-static {
        margin-left: 0rem !important;
    }
    .popover.sub-menu.js-sub-menu.collapse > .top-menu{
        display: unset;
    }
    .card-block.checkout .btn-primary {
        width: 100% !important;
    }
    #header,.header-nav {
        background-color: black;
        margin-top: 0px;
    }
    #blockcart-modal .cart-content {
        padding-left: 0rem;
    }
    .products.row{
        width: 100% !important;
    }
    .orange{
        font-size: 1.0rem !important;
    }
    .material-icons.hidden-md-up.logged{
        color: white;
    }
    #custom-text {
        width: 100% !important;
    }
    #footer{
        padding-top: 50px !important;
    }
    .links {
        /*padding-left: 0px !important;*/
    }
    .footer-container {
        background-color: #232528 !important;
        padding-left: 0px !important;
    }
    .block_newsletter {
        max-width: unset !important;
    }
    .tabs{
        padding-left: 0;
        padding-right: 0rem;
    }
    .tabs .nav-tabs .nav-link.active {
        font-size: 1rem !important;
    }
    .tab-product {
        font-size: 1rem !important;
    }
    #tab-content {
        width: 100% !important;
    }
    /*.container{
        margin-top: 10px;
    }*/
    .js-qv-product-cover.img-fluid{
        margin-top: 17px;
    }
    .separate{
        padding-right: 3px;
        padding-left: 3px;
    }
    #product-tittle{
        width: 100% !important;
    }
    .page-content.page-cms{
        max-width: 100% !important;
        margin: auto;
    }
    #header .top-logo {
        min-height: 70px !important;
    }
    #header .top-logo img{
        max-height: 3.5rem;
    }
    .product-description.home-color-category {
        height: unset !important;
    }
    .h3.product-title, .h3.product-title a, .h3.product-title-home, .h3.product-title-home a{
        font-size: .8rem !important;
    }
    .product-description.home-color, .product-description.similar-color{
        height: unset !important;
    }
    #blockcart-modal .modal-dialog {
        width: calc(90%);
    }
    #blockcart-modal .product-name {
        font-size: 1.5rem;
        color: black;
        line-height: 1.3;
    }
    .modal-content{
        padding: 10px !important;
    }
    .modal-header{
        text-align: center;
    }
    .product-price {
        color: #E36D00 !important;
        font-weight: 600 !important;
        font-size: 2rem;
    }
    .txt-modal{
        line-height: 0.7em;
    }
    .space{
        margin-top: 10px;
    }
    .cart-content-btn button, .cart-content-btn a{
        padding: .5rem .5rem !important;
        font-size: .7rem !important;
    }
    .carousel .carousel-item .caption .caption-description p{
        font-size: 1rem !important;
    }
    .display-1.text-uppercase{
        font-size: 3.5rem !important;
    }
}


/*.home-info{
    display: contents;
}*/
/*
#header .header-nav .cart-preview.active a, #header .header-nav .cart-preview.active i{
    color: black;
}*/
/*Footer styles*/
#footer{
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.footer-container{
    background-color: #232528;
    padding-left: 144px;
}
.footer-container .h3, .footer-container .h3 a, .footer-container .h4{
    color: white !important;
}
.footer-container li a{
    color: white;
}
.footer-container li a:hover{
    color: #E36D00;
}
.footer-container li {
    /*margin-bottom: 1rem;*/
}
.footer-container .links ul > li {
    border-bottom: 0px;
}
@media (max-width: 767px){
.links .title {
  border-bottom: 0px ;
}
.footer-container .links .h3 {
    font-size: 1.2rem;
  }

}
#custom-text img {
    max-width: 100%;
    height: 100%;
}
#footer a{
    color: white;
}
.font-20{
    font-size: 1.25rem !important;
}
.font-18{
    font-size: 1.12rem !important;
}
.frm-newsletter{
    margin-top: 34px;
}
.links{
    /*padding-left: 265px;*/
    text-align: left;
}

  /*
.featured-products.clearfix{
    margin-left: 10%;
    margin-right: 10%;
}
*/
.dropdown-item{
    color: white !important;
}
#top_sub_menu_80033{
    background-color: black;
    color: white;
}
#header{
    background: black;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.11);
}
#header a:hover {
    color: #E36D00;
}
.page-my-account #content .links a:hover i {
    color: #E36D00;
}
#header .header-top a[data-depth="0"]{
    /*font-size: .8rem;*/
    font-size: 1.1rem;
    color: #D2D2D2 !important;
}
#header .header-top .position-static{
    margin: auto;
}
#search_widget form input {
    /*width: 354px !important;*/
    width: 100% !important;
}
#newsletter-row{
    background-color: #232528;
}
.block_newsletter{
    background-color: #232528;
    /*max-width: 30rem;*/
    max-width: 35%;
    /*width: 25%;*/
    float: left; 
    margin: unset;

}
.block_newsletter p{
    color: white;
}
.row-footer,.row-footer::after{
    display: block;
}
#custom-text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#custom-text p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
#custom-text p.box{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
/*
Productos en home
*/
.variant-links, .highlighted-informations.hidden-sm-down{
    background-color: rgba(227, 109, 0, 0.9) !important;
}
.product-description.home-color{
    background-color: white !important;
}
.product-description.similar-color{
    height: 10vw;
}

.txt-white{
    color: white !important;
    font-size: 1rem !important;
}
.product-description.home-color>.product-price-and-shipping>.regular-price{
    color: #D2D2D2;
    font-size: 1rem !important;
}

.product-description.home-color>.product-price-and-shipping>.price{
    color: #E36D00;
    font-size: 1rem !important;
}
.linea_submenu{
    border-bottom-width: 1px;
    border-color: gray;
    border-bottom-style: solid;
}
.product-description.similar-color>.product-price-and-shipping>.regular-price{
    color: black;
    font-size: 1.3rem !important;
}
.product-description.similar-color>.product-price-and-shipping>.price{
    font-size: 1.3rem !important;
}
.price.before-price{
    color: #E36D00 !important;
}
.category-home{
    margin-bottom: .5rem;
    font-size: 0.9rem;
    color: #D2D2D2;
}
.category-similar{
    margin-bottom: .5rem;
    font-size: 0.9rem !important;
    color: #D2D2D2 !important;
}
.quick-view.js-quick-view{
    color: black !important;
    font-size: 1.4rem !important;
    font-weight: bold;
}
.popover.sub-menu.js-sub-menu.collapse, .popover.sub-menu.js-sub-menu.collapse.in, .popover.sub-menu.js-sub-menu.collapsing{
    background-color: black !important;
}

/*.bground-black{
    height: 100vh;
    background-color: #000;
    position: relative;
    color: #FFF;
    z-index: 100;
}*/
#product-modal .modal-content .modal-body {
    background-color: white;
    width: 980px;
}  
.modal-backdrop.in{
    opacity: .6;
    background-color: 
        black;
    
}

.featured-products.clearfix.popular-products-section{
    background-color: white;
    /*width: 1440px;*/
    width: 100%;
    /*margin-left: -15px;*/
    padding-bottom: 100px;
}
.h2.products-section-title.text-uppercase{
    position: relative;
    font-size: 1.6rem;
    letter-spacing: 10px;
    color: #161616;
    font-weight: 600;
}
.home-info{
    align-items: center;
    display: contents;
    justify-content: center;
}
.category_row{
    width: 65%;
}
.products.row{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
#products .product{
    padding-right: 0px !important;
}
#products .products.row.category_row{
    width: 100%;
}
.tab-product{
    display: table !important;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    color: black;
}
.tabs .nav-tabs .nav-link.active {
    color: black;
    border: none;
    border-bottom: black 3px solid;
    font-weight: 700;
    font-size: 24px;
}
/*
.product-description p{
    color: #000000;
    font-size: 1rem;
}*/
.page-content.page-cms img{
    width: 100%;
    height: auto;
}
.product_best{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.product-price-and-shipping{
    text-align: left !important;
    font-size: 1.3rem;
}
.h3.product-title, .h3.product-title a{
    text-align: left !important;
    font-size: 1.2vw;
    font-weight: bold;
    color: black !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none;
}
.h3.product-title-home, .h3.product-title-home a{
    text-align: left !important;
    font-size: 1.2vw;
    color: black !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none;
}
.h3.product-title-similar, .h3.product-title-similar a{
    text-align: left !important;
    font-size: 1rem !important;
    font-family: 'Montserrat', sans-serif !important;
    text-transform: none;
}
.product-description.home-color{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 10vw;
}
.thumbnail.product-thumbnail{
    /*height: 13vh !important;*/
}
/*#half-color-bg * {
    position: absolute;
   
}*/

/*
CATEGORIAS
*/
#wrapper .breadcrumb li a{
    color: #9F9F9F;
}
.breadcrumb.hidden-sm-down{
    margin-top: 40px;
    /*padding-left: 2% !important;*/
}
.active_filters .filter-block{
    border: 1px solid #232323;
}
#js-active-search-filters{
    background-color: white;
}
/*.product-description.home-color-category{*/
#products .product-description, .product-miniature.product-description{
    background-color: white !important;
    height: 10vw;
}
.product-short-description{
    width: 75%;
    text-transform: inherit;
    margin-top: 0.9rem;
}
.product-short-description p{
    text-transform: inherit;
}
#products.product-miniature.product-price-and-shipping{
    text-align: left;
}
#products .product.col-xs-6.col-xl-4{
    justify-content: left;
}
.product.col-xs-6.col-lg-4.col-xl-4{
    /*height: 584px;
    width: 352px;*/
}
#close-preview{
    background-color: white;
    background: transparent;
    color: black;
    border: 2px solid black;
    opacity: 1 !important;
    font-size: 0.8rem;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
}
.modal-content{
    border-radius: 0px;
    padding: 25px;
}
#blockcart-modal .product-name{
    font-size: 1.375rem;
    color: #393D46;
    font-weight: bold;
}
#product-description-short p{
    color: black;
}
.current-price-value{
    color: #FF6600;
}
.discount.discount-percentage{
    background-color: #FF6600;
    font-size: .9rem;
}
.btn-primary.disabled:hover, .btn-primary:disabled:hover{
    background-color: #E36D00;
}
.btn-primary,.btn-primary:hover{
    background-color: #E36D00;
}

.quickview .modal-dialog {
    width: calc(100% - 30px);
    max-width: 85rem;
}
.quickview .mask {
    width: 20%;
}
/*
Ventana de producto
*/
#product-tittle{
    width: 70%;
    font-size: 2.375rem;
    text-align: left;
    color:  #393D46;
    text-transform: none;
}
.price-mod{
    font-size: 2.25rem !important;
}
.product-discount {
    color: #000000;
    font-weight: bold !important;
}
.product-category-product{
    justify-content: center !important;
    background-color: black;
    height: 464px;
    margin-bottom: -58px;
}
.product-similar-product{
    justify-content: center !important;
}
.txt-tittle{
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
}
.product-back::after{
    background-color: white;
    position: absolute;
    height: 10vh;
    display: block;
    content: ' ';
    width: 100%;
    max-width: 1
    440px;
}
.highlighted-informations.no-variants.hidden-sm-down.home-down, .highlighted-informations.hidden-sm-down.home-down, .highlighted-informations.no-variants.hidden-sm-down, .highlighted-informations.hidden-sm-down{
    top: 446px ;
}
#products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations{
    top: 446px ;
}
#products .thumbnail-container:hover .highlighted-informations.no-variants, #products .thumbnail-container:focus .highlighted-informations.no-variants, .featured-products .thumbnail-container:hover .highlighted-informations.no-variants, .featured-products .thumbnail-container:focus .highlighted-informations.no-variants, .product-accessories .thumbnail-container:hover .highlighted-informations.no-variants, .product-accessories .thumbnail-container:focus .highlighted-informations.no-variants, .product-miniature .thumbnail-container:hover .highlighted-informations.no-variants, .product-miniature .thumbnail-container:focus .highlighted-informations.no-variants{
    /*top: calc(446px - 3.5rem);*/
    /*top: calc(100% - 144px);*/
    top: calc(100% - 14vw);
    bottom: 2.2rem;
}
#products .thumbnail-container:hover .highlighted-informations, #products .thumbnail-container:focus .highlighted-informations, .featured-products .thumbnail-container:hover .highlighted-informations, .featured-products .thumbnail-container:focus .highlighted-informations, .product-accessories .thumbnail-container:hover .highlighted-informations, .product-accessories .thumbnail-container:focus .highlighted-informations, .product-miniature .thumbnail-container:hover .highlighted-informations, .product-miniature .thumbnail-container:focus .highlighted-informations{
    /*top: calc(446px - 4.4rem);*/
    /*top: calc(100% - 175px);*/
    top: calc(100% - 16vw);
    bottom: 5.5rem;
}
#tab-content{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.data-sheet>.name{
    background: #ddd !important;
}
/*.highlighted-informations.hidden-sm-down{
    position: absolute ;
    top: 350px !important;
bottom: 1.25rem !important;
z-index: 2 !important;
width: 250px !important;
height: auto !important;
padding-top: 0.625rem !important;
text-align: center !important;
background: #fff !important;
  background-color: rgb(255, 255, 255) !important;
transition: top 0.3s, bottom 0.3s !important;
}
.home-down:hover{
    top: calc(350px - 4.4rem) !important;
    bottom: 5.5rem;
}*/
/*
CARRITO DE COMPRAS
*/
#btn-return{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.txt-product{
    font-size: 1.2rem;
    color: #393D46;
}
.black{
    color: #141414 !important;
    font-weight: bold !important;
    text-transform: uppercase;
}
.orange{
    color: #E36D00;
    font-size: 1.5rem ;
}
.font-big{
    /*font-size: 1.5rem !important;*/
}
.tittle-checkout{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
}
.line-up{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CDCFD1;
    padding-bottom: 20px;
}
.card-block.cart-detailed-subtotals + .cart-summary-totals .cart-total{
    border-top: 0px solid #ddd;
}
.card-block.checkout .btn-primary{
    width: 19%;
}
.button-right{
    text-align: right !important;
}
.cart-item{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CDCFD1;
}
.qty{
    padding-right: 5px;
    padding-left: 5px;
}
.body-cart{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    
}

.button-cart{
    background-color: #F1F1F1;
    height: 100px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center !important;  
    align-content: center;
    display: grid;
}
#blockcart-modal .product-image {
    max-width: 100%;
}
@media (max-width: 575px) {
    .body-cart{
        width: 100%;
    }
    .content-checkout{
        width: 100% !important;
    }
}
.modal-backdrop{
    background-color: white;
    opacity: 1;
}
#product-modal .modal-content .modal-body .product-images{
    margin-left: 0px;
}
.product-images > li.thumb-container > .thumb {
    margin-bottom: .0rem;
}
.content-checkout{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
body#checkout a:hover, a {
    color: #E77C1A;
}
body#checkout .additional-information{
    display: unset !important;
}
.txt-checkout{
    color: black;
    font-size: 1.5rem;
}
.product-price{
    color: #000000;
}
.grand{
    font-size: 1.3rem !important;
}
.cart-summary-line{
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}
.cart-grid-right{
    margin-top: 40px;
    margin-bottom: 40px;
}
body#checkout .cart-grid-right .card .cart-summary-subtotals-container{
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
}

.header-cheackout{
    background-color: black;
}
/*
#_desktop_contact_link a{
    color: white;
}*/
.step-number{
    background-color: #000000 !important;
}
.done{
    color: black;
}
#contact-link a{
    color: white;
}

/*
GRACIAS POR SU COMPRA
*/
#content-hook_order_confirmation{
    display: flex;
}
.card-center{
    margin-left: auto;
    margin-right: auto;  
}

/*
CHECKOUT
*/
#js-checkout-summary p{
    font-size: 1.2rem;
}
body#checkout .cart-grid-right .card .cart-summary-subtotals-container .cart-summary-line .value {
    font-size: 1.2rem;
    font-weight: 600;
}
.card-block.cart-summary-totals .cart-summary-line span.sub {
    float: right;
}
body#checkout section.checkout-step .address-item.selected {
    border: #E77C1A 3px solid;
}
.custom-radio input[type="radio"]:checked+span {
    background-color: #E77C1A;
}
.btn-primary.btn-black{
    background-color: #000000;
    color: white !important;
}
#order-items .image img {
    width: unset;
 }
.card-title {
    font-size: 2.375rem;
 }
 #thanks p{
    text-align: center;
 }
 #order-items .details {
    margin-top: 1rem;
}
.total-mount{
    font-size: 1.5rem !important;
}
.page-my-account #content .links a span.link-item {
    border: 2px solid black;
}
#my-account #wrapper .container, #addresses #wrapper .container, #history #wrapper .container, #module-blockwishlist-lists #wrapper .container, #category #wrapper .container, #product #wrapper .container,#identity #wrapper .container, #contact #wrapper .container, #cms #wrapper .container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.page-content.page-cms h1{
    font-size: 3rem !important;
}
.page-content.page-cms{
    max-width: 65%;
    margin: auto;
}
.page-content.page-cms p{
    color: black;
}
.page-content.page-cms h1{
    color: #393D46;
    margin-bottom: 2.5rem;
}
.btn-account{
    width: 65%;
    margin: auto;
    display: block;
}
.carousel .carousel-item .caption .caption-description p{
    font-size: 1vw;
}
.product-description iframe{
    width: 80%
      
}
.product-description img{
    max-width: 100%;
    height: auto;
}
/*
#_desktop_top_menu .top-menu[data-depth="0"] .top-menu[data-depth="1"] li .sub-menu {
    visibility: hidden;
    opacity: 0;
}
#_desktop_top_menu .top-menu[data-depth="0"] .top-menu[data-depth="1"] li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
*/
.disclamer_text{
    background-color: #b30000 !important;
    color: white;
}
.img-zoom:hover{
    transform: scale(1.175);
    -webkit-transition: all .45s ease;
    -o-transition: all .45s ease;
    -moz-transition: all .45s ease; 
}
.contact-form-2{
    width: 60%;
    margin: auto;
}